body {
    margin: 0 auto;
    padding: 1em;
background-image: url(file:////home/enriquealderete/Escritorio/Master/Tema1TecnologiasInternet/Modulo2Laweb/PruebaWeb/html-color-codes-color-tutorials-903ea3cb.jpg);

}
h1 {
    padding-top:2px;  
    color:  #050505;
    font-size: 15px;
    text-align: left;
    text-shadow: inherit ;
    
}
h4 {
	padding-top:5px;  
    color:  #050505;
    font-size: 15px;
    text-align: center;
    text-shadow: inherit ;
    border-top-width: thin;
    }

header{
	text-align: center;
	font-family: Times;
	font-size: 35px;
	
	}
h2
{ text-align: center;
	font-family: Times;
	font-size: 25px;
	color:   #050505;
	
 ;
 }
h3
{ text-align: center;
	font-family: Times;
	font-size: 40px;
	color:   #050505;
	
 ;
	}

nav {
    float: right;
    display:inline;
}
nav ul, footer ul {
    list-style-type: none;
    float:none; 
    text-align: center;
    
    
    
}
nav li {
    display: inline-table;
    margin-right: 0;
    font-size: 0;
    text-transform: uppercase;
    display:inline;
    text-align: center;
    
   
}
h5
{ text-align: center;
	font-family: Times;
	font-size: 25px;
	color:   #050505;
	
	}
section {
    float:none;
    text-align: center;
}

}